@media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }
  }
  
  @media (max-width: 991px) {
    .quick-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      text-align: center;
    }
    .quick-links .links {
      padding: 1rem 0;
    }
    .quick-links .links a {
      display: block;
      font-size: 2rem;
      padding: 1rem 0;
    }
    .quick-links .share a {
      margin: 0 1rem;
    }
    .credit {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    #search-btn {
      display: inline-block;
    }
    .header .search-form {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      height: 6rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .search-form.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .home .slide {
      text-align: center;
    }
    .newsletter {
      text-align: center;
    }
    .newsletter .content h3 {
      font-size: 4rem;
    }
    .newsletter .content p {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .header {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .logo {
      display: none;
    }
    .header .icons a,
    .header .icons div {
      margin: 0 1rem;
    }
    .home .slide .image img {
      height: auto;
      width: 100%;
    }
    .arrivals .box-container .box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      gap: 2rem;
      text-align: center;
    }
    .contact form .inputBox input {
      width: 100%;
    }
    .shopping-cart .cart-total {
      text-align: center;
    }
    .shopping-cart .cart-total .btn {
      width: 100%;
    }
  }
  /*# sourceMappingURL=style.css.map */