
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- swiper css link  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- cusom css file link  -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="index.html" class="logo"> <i class="fas fa-store"></i> Kdm/Service</a>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="Recherche...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="login.html" class="fas fa-user"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="cart.html" class="fas fa-shopping-cart"></a>
    </div>

</header>

<!-- header section ends -->

<!-- side-bar section starts -->

<div class="side-bar">

    <div id="close-side-bar" class="fas fa-times"></div>

    <div class="user">
        <img src="imagesTest/1.jpg" alt="">
        <h3>Alliance Tshindayi</h3>
        <a href="#">déconexion</a>
    </div>

    <nav class="navbar">
        <a href="index.html"> <i class="fas fa-angle-right"></i> accueil </a>
        <a href="autres-pages/apropos.html"> <i class="fas fa-angle-right"></i> à propos </a>
        <a href="products.html"> <i class="fas fa-angle-right"></i> produits </a>
        <a href="autres-pages/contact.html"> <i class="fas fa-angle-right"></i> contact </a>
        <a href="login.html"> <i class="fas fa-angle-right"></i> connexion </a>
        <a href="register.html"> <i class="fas fa-angle-right"></i> inscription </a>
        <a href="cart.html"> <i class="fas fa-angle-right"></i> pagner </a>
    </nav>

</div>

<!-- side-bar section ends -->



<!-- footer section starts  -->

<section class="quick-links">

    <a href="index.html" class="logo"> <i class="fas fa-store"></i> Kdm </a>

    <div class="links">
        <a href="home.html"> accueil </a>
        <a href="autres-pages/apropos.html"> à propos </a>
        <a href="products.html"> produits </a>
        <a href="autres-pages/contact.html"> contact </a>
        <a href="login.html"> connexion </a>
        <a href="register.html"> inscription </a>
        <a href="cart.html"> pagner </a>
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>

</section>

<section class="credit">

    <p> créé par <span>mr. Alliance</span> | tous droits reservés! </p>

    <!-- <img src="imagesTest/card_img.png" alt=""> -->

</section>

<!-- footer section ends -->




<!-- swiper js link      -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/scipt.js"></script>

</body>
</html>